[Desktop Entry]
Categories=Network;WebBrowser;
Comment=Browse the World Wide Web
Exec=<dir>/run.sh
Icon=<dir>/favicon.png
Name=Firefox DevEdition
Terminal=false
Type=Application
Version=1.0